<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Buggis</title>
  </head>
  <body>
    <div class="container">
      <div class="column1">
        <section class="title">
          <h1>Buggy's</h1>
          <h2>Salón de té</h2>
        </section>
        <section class="menu">
          <form action="/menu" method="post">
            <input type="submit" name="menu" value="Favoritos">
            
            <input type="submit" name="menu" value="Bebestibles">
          </form>
          <div class="favorite-container">
            <h3>LOS FAVORITOS</h3>
            <ol>
              <% menu.forEach((item) => { %>
              <li class="favorite">
                <div class="name-price">
                  <h3 class="name info"><%= item.name %></h3>
                  <p class="price info">$<%= item.price %></p>
                  <button class="add-to-cart">
                    <span>Agregar al carrito</span>
                  </button>
                </div>
                <% if (item.description) { %>
                <p class="description info"><%= item.description %></p>
                <% } %>
              </li>
              <% }); %>
            </ol>
          </div>
        </section>
      </div>
      <div class="column2">
        <section class="cart-container">
          <div class="cart">
            <h2>Carrito</h2>
            <ul id="cart-items">
            <% if(pedido.length > 0) %>
            <% pedido.forEach((itemPedido) => { %>
              <li>
                <h3><%= itemPedido.dishName %></h3>
                <p><%= itemPedido.dishPrice %></p>
              </li>
              <% }); %>
            </ul>
            <form action="/submit-order" method="post">
              <button id="submit-order" type="submit">Enviar pedido</button>
            </form>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="./js/cliente.js"></script>
</html>
